@import url(https://fonts.googleapis.com/css2?family=Forum&display=swap);
@charset "UTF-8";
/* -- Size screens-- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Forum", cursive;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #3B181E;
}

body.modal-open {
  overflow: hidden;
}

/* -- Header and first Screen -- */
.header {
  height: 95vh;
  z-index: 3;
}
.header .screen-header {
  position: relative;
  height: 100%;
  background: #3B181E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 180px;
  /* -- Rect button without background -- */
  /* --  Header section -- */
  /* -- Button Menu Header -- */
}
.header .screen-header.mainPage__header {
  background: url(c64b72fdb8b8a3d31c140b01ea3f2112.jpg) center no-repeat;
  /* Добавляем фон */
  background-size: cover;
}
.header .screen-header h1 {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.header .screen-header .btn__show {
  font-family: "Forum", cursive;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 30px;
  transition: background 0.3s ease-in-out;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.header .screen-header .btn__show:hover {
  background: white;
  color: black;
}
.header .screen-header .btn__mouse {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 5%;
  display: block;
  width: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.header .screen-header .btn__mouse path {
  transition: 0.3s ease-in-out;
}
.header .screen-header .btn__mouse:hover {
  cursor: pointer;
}
.header .screen-header .btn__mouse:hover svg path {
  transform: translateY(25%);
}
.header .screen-header .btn__mouse-desktop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 775px) {
  .header .screen-header .btn__mouse {
    width: 1.2rem;
    bottom: 3%;
  }
}
.header .screen-header .btn__mouse .btn__mouse-mobile {
  display: none;
  width: 100%;
}
.header .screen-header .header-top {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 80px 80px;
  width: 100%;
}
.header .screen-header .logo {
  height: 47px;
  width: 137px;
  display: block;
}
.header .screen-header .logo img {
  height: 100%;
  width: 100%;
}
.header .screen-header .btn__menu-header {
  position: relative;
  display: flex;
  align-items: center;
}
.header .screen-header .btn__menu-header:hover {
  cursor: pointer;
}
.header .screen-header .btn__menu-header .btn__menu-btn {
  background: transparent;
  border: none;
  position: relative;
  width: 30px;
  padding: 10px;
}
.header .screen-header .btn__menu-header .btn__menu-btn:hover {
  cursor: pointer;
}
.header .screen-header .btn__menu-header .btn__menu-btn:hover::before, .header .screen-header .btn__menu-header .btn__menu-btn:hover::after {
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
}
.header .screen-header .btn__menu-header .btn__menu-btn::before, .header .screen-header .btn__menu-header .btn__menu-btn::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  background: white;
  transition: 0.3s ease-in-out;
}
.header .screen-header .btn__menu-header .btn__menu-btn::before {
  top: 40%;
}
.header .screen-header .btn__menu-header .btn__menu-btn::after {
  top: 60%;
}
.header .screen-header .btn__menu-header .btn__menu-text {
  margin-left: 15px;
  color: white;
  font-family: "Forum", cursive;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
  user-select: none;
}
.header .screen-header .header-img {
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.header .screen-header .header-img img {
  height: 100%;
}

/* -- Social links Header  -- */
.socialGroup {
  position: absolute;
  bottom: 100px;
  left: 80px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.socialGroup-link {
  margin-top: 25px;
  transition: 0.3s ease-in-out;
}
.socialGroup-link path, .socialGroup-link rect, .socialGroup-link circle {
  transition: 0.3s ease-in-out;
}
.socialGroup-link:hover {
  cursor: pointer;
}
.socialGroup-link.fb:hover path, .socialGroup-link.vk:hover path {
  fill: black;
}
.socialGroup-link.fb:hover rect, .socialGroup-link.vk:hover rect {
  fill: white;
}
.socialGroup-link.inst:hover rect {
  fill: white;
}
.socialGroup-link.inst:hover circle {
  stroke: black;
}
.socialGroup-link.inst:hover circle:last-child {
  fill: black;
}
.socialGroup-link.wa:hover path:first-child {
  fill: white;
}
.socialGroup-link.wa:hover path:last-child {
  fill: black;
}

/* -- link header down -- */
.down__link {
  position: absolute;
  bottom: 210px;
  transform: rotate(90deg) translateY(-80px);
  right: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.down__link:hover {
  cursor: pointer;
}
.down__link:hover .down__link-img {
  transform: rotate(-90deg) translateY(70%);
}
.down__link .down__link-text {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  user-select: none;
}
.down__link .down__link-img {
  transform: rotate(-90deg);
  width: 13.42px;
  height: 13.42px;
  transition: 0.3s ease-in-out;
}

/* -- Menu header -- */
.menu-header {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background: #3B181E;
}
.menu-header .logo {
  position: absolute;
  top: 10%;
  visibility: hidden;
}
.menu-header .logo a {
  display: none;
}
.menu-header ul {
  visibility: hidden;
  list-style: none;
  margin-top: 10%;
}
.menu-header ul li {
  margin-top: 80px;
  text-align: center;
}
.menu-header ul li a {
  display: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  padding: 10px;
  text-decoration: none;
}
.menu-header ul li:hover a {
  color: white;
  font-size: 45px;
}

.is-header-show {
  visibility: visible;
  opacity: 1;
}
.is-header-show .logo {
  visibility: visible;
}
.is-header-show .logo a {
  display: block;
}
.is-header-show ul {
  visibility: visible;
}
.is-header-show ul li a {
  display: block;
}

.close__btn {
  position: absolute;
  top: 100px;
  right: 96px;
  background: none;
  border: none;
  padding: 20px;
  font-size: 0;
  outline: none;
}
.close__btn:hover {
  cursor: pointer;
}
.close__btn:hover::after, .close__btn:hover::before {
  background: white;
}
.close__btn::after, .close__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 30px;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in-out;
}
.close__btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close__btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* -- Catalog Screen -- */
.screen-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3B181E;
  position: relative;
  padding: 115px 205px;
}
.screen-catalog .ln-gradient {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  height: 35px;
  background: linear-gradient(transparent 0, #3B181E 100%);
}
.screen-catalog .subHeading {
  color: white;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: relative;
}
.screen-catalog .subHeading .sub-line {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40%;
  background: white;
}
.screen-catalog .bg-caption {
  position: absolute;
  top: 10%;
  color: rgba(255, 255, 255, 0.03);
  font-weight: normal;
  font-size: 160px;
  line-height: 243px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  z-index: 0;
}

.wrap-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
  margin-top: 80px;
}
.wrap-catalog .wrap-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrap-catalog .wrap-content .slider-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  width: 23%;
  height: 300px;
  z-index: 3;
  position: relative;
  padding: 20px;
  transition: 0.3s ease-in-out;
}
.wrap-catalog .wrap-content .slider-item.is-slider-show {
  animation: slider 0.2s ease-in-out;
}
.wrap-catalog .wrap-content .slider-item .slider__item-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.wrap-catalog .wrap-content .slider-item .slider__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.wrap-catalog .wrap-content .slider-item .slider__item-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.wrap-catalog .wrap-content .slider-item .slider__item-btn {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateY(10px);
  border: none;
  background: white;
  padding: 0;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.wrap-catalog .wrap-content .slider-item .slider-top-pagination {
  margin-bottom: auto;
  width: 100%;
  display: flex;
  transition: 0.3s ease-in-out;
}
.wrap-catalog .wrap-content .slider-item .slider-top-pagination .pagination__sub-line {
  transition: 0.3s ease-in-out;
  height: 18px;
  width: 60px;
  border-bottom: 1px solid white;
  margin-left: 15px;
  padding: 5px;
}
.wrap-catalog .wrap-content .slider-item .slider-top-pagination .pagination-number {
  transition: 0.3s ease-in-out;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}
.wrap-catalog .wrap-content .slider-item:hover {
  transform: scale(1.05);
  outline-offset: 5px;
  outline: 1px solid white;
}
.wrap-catalog .wrap-content .slider-item:hover .slider__item-btn {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  padding: 10px 20px;
  line-height: 13px;
}
.wrap-catalog .wrap-content .slider-item:hover .pagination__sub-line {
  margin-left: 0;
  transform: translateX(-15px);
}
.wrap-catalog .wrap-content .slider-item:hover .pagination-number {
  transform: translateX(80px);
}
.wrap-catalog .wrap-content .slider-item:hover .slider__item-img {
  filter: brightness(0.6);
}

/* -- Stock Screen -- */
.screen-stock {
  background: #3B181E;
  width: 100%;
  padding: 10px 280px 140px;
}

.wrap-stock {
  display: flex;
  justify-content: space-between;
}
.wrap-stock .stock__content {
  width: 35%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}
.wrap-stock .stock__content .stock__content-title {
  position: relative;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 170%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.wrap-stock .stock__content .stock__content-title .stock__sub-line {
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 20%;
  background: white;
}
.wrap-stock .stock__content .stock__text {
  margin-top: 30px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}
.wrap-stock .stock__content .stock__btn {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 30px;
  background: black;
  color: white;
  border: none;
  padding: 17px 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.wrap-stock .stock__content .stock__btn:hover {
  background: white;
  color: black;
}
.wrap-stock .stock__img {
  width: 60%;
  overflow: hidden;
}
.wrap-stock .stock__img img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

/* -- Footer -- */
footer {
  width: 100%;
  background: #3B181E;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-social {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  bottom: auto;
  left: auto;
}
.bottom-social .socialGroup-link {
  padding: 0 30px;
}

.footer-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer-header li {
  padding: 0 30px;
}
.footer-header li a {
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.footer-header li:hover a {
  color: white;
}

/* -- Popup -- */
.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3B181E;
  z-index: 21;
  transition: opacity 0.3s ease-in-out;
}
.popup .wrap-popup {
  display: flex;
}
.popup__btn-close {
  outline-color: rgba(255, 255, 255, 0.5);
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin: 60px;
}
.popup__form-title {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.popup__form input {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: white;
  outline-color: rgba(255, 255, 255, 0.5);
}
.popup__form input::placeholder {
  color: white, 0.5;
}
.popup__form input[type=submit] {
  background: white;
  border: none;
  color: black;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  transition: background 0.3s ease-in-out;
}
.popup__form input[type=submit]:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.popup__img {
  width: 50%;
  overflow: hidden;
}
.popup__img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.popup__substrate {
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in-out;
}

.popup-show {
  visibility: visible;
  opacity: 1;
}

#thanks {
  max-width: 60%;
  padding: 60px;
  height: auto;
}
@media (max-width: 500px) {
  #thanks {
    max-width: 90%;
    padding: 40px;
    height: auto;
  }
}

@keyframes slider {
  0% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* -- page tmp -- */
/* -- Size screens-- */
/* -- Page -- */
.page__tmp {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.page__tmp-screen.screen-header {
  height: auto;
  background: none;
}

/* -- Main  -- */
.page {
  background: #3B181E;
  height: 100vh;
}

.pg {
  display: flex;
  width: 100%;
  height: 100%;
  /* -- Full Image  -- */
  /* -- Content Page Gall  -- */
  /* -- thumb -- */
  /* -- social linkns -- */
}
.pg__fullImg {
  width: 50%;
  height: 100%;
  position: relative;
}
.pg__fullImg::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 30px;
  right: -30px;
  left: 30px;
  bottom: 30px;
}
.pg__fullImg-img {
  transition: 0.3s ease-in-out;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.pg__fullImg-img.loaded {
  animation: 0.5s ease-in-out normal loaded;
  animation-play-state: running;
}
@keyframes loaded {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.pg__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 100px 80px;
}
.pg__content-text .pg-title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: white;
}
.pg__content-text .pg-p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: white;
}
.pg__content-text .pg__btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
  cursor: pointer;
}
.pg__content-text .pg__btn:hover {
  border: 1px solid white;
  background: white;
  color: black;
}
.pg__content-thumb {
  margin-top: 50px;
}
.pg__content-thumb .thumb-wrap {
  width: max-content;
  height: 100px;
  position: relative;
}
.pg__content-thumb .thumb {
  display: flex;
  width: 460px;
  height: 100px;
  position: relative;
}
.pg__content-thumb .thumb__btn {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
}
.pg__content-thumb .thumb__btn-r {
  right: -20px;
}
.pg__content-thumb .thumb__btn-l {
  left: -20px;
}
.pg__content-thumb .thumb__btn:hover {
  cursor: pointer;
  background: black;
  transform: scale(1.1) translateY(-50%);
}
.pg__content-thumb .thumb__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pg__content-thumb .thumb__arrow-l::before, .pg__content-thumb .thumb__arrow-l::after {
  right: calc(50% - 2px);
}
.pg__content-thumb .thumb__arrow-l::before {
  transform: rotate(-45deg);
  top: calc(50% - 2px);
}
.pg__content-thumb .thumb__arrow-l::after {
  transform: rotate(45deg);
  top: calc(50% + 2px);
}
.pg__content-thumb .thumb__arrow-r::before, .pg__content-thumb .thumb__arrow-r::after {
  left: calc(50% - 2px);
}
.pg__content-thumb .thumb__arrow-r::before {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
.pg__content-thumb .thumb__arrow-r::after {
  transform: rotate(-45deg);
  top: calc(50% + 2px);
}
.pg__content-thumb .thumb__arrow::before, .pg__content-thumb .thumb__arrow::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 6px;
  background: white;
}
.pg__content-thumb .thumb__item {
  display: block;
  visibility: hidden;
  width: 100px;
  height: 100px;
  margin-right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.pg__content-thumb .thumb__item-img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pg__content-thumb .thumb .img__active {
  position: absolute;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.pg__content-thumb .thumb .img__active:last-of-type {
  margin-right: 0;
}
.pg__content-social {
  align-self: flex-end;
  margin-top: 15%;
}
.pg__social-signature {
  display: inline-block;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-right: 15px;
  vertical-align: top;
}

@keyframes changeImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
    filter: contrast(100%);
  }
  100% {
    opacity: 100%;
    filter: none;
  }
}
@media (min-width: 961px) and (max-width: 1141px) {
  .header .screen-header h1 {
    font-size: 100px;
  }

  .screen-catalog {
    padding: 80px 100px;
  }
  .screen-catalog .bg-caption {
    top: 110px;
    font-size: 100px;
  }

  .wrap-catalog {
    margin-top: 50px;
  }
  .wrap-catalog .wrap-content .slider-item {
    height: 250px;
  }
  .wrap-catalog .wrap-content .slider-item:hover .slider__item-btn {
    margin-top: 10px;
  }

  .screen-stock {
    padding: 10px 100px 140px;
  }
}
@media (min-width: 776px) and (max-width: 961px) {
  .header .screen-header h1 {
    font-size: 80px;
  }

  .screen-catalog {
    padding: 10px 40px;
  }
  .screen-catalog .bg-caption {
    top: 40px;
    font-size: 80px;
  }

  .wrap-catalog {
    margin-top: 50px;
  }
  .wrap-catalog .wrap-content .slider-item {
    display: none;
    height: 450px;
    width: 48%;
  }
  .wrap-catalog .wrap-content .slider-item:hover .slider__item-btn {
    margin-top: 10px;
  }
  .wrap-catalog .wrap-content .slider-item.is-slider-show {
    display: flex;
  }
  .wrap-catalog .slider-bottom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line {
    display: block;
    transition: 0.3s ease-in-out;
    height: 18px;
    width: 60px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-left: 15px;
    cursor: pointer;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line.is-active-sub-line {
    border-bottom: 2px solid white;
  }

  .screen-stock {
    padding: 100px 180px 100px;
  }
  .screen-stock .wrap-stock {
    flex-direction: column-reverse;
  }
  .screen-stock .wrap-stock .stock__img {
    width: 100%;
  }
  .screen-stock .wrap-stock .stock__content {
    width: 100%;
    align-items: center;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title {
    text-align: center;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title .stock__sub-line {
    left: 50%;
    transform: translateX(-50%);
  }
  .screen-stock .wrap-stock .stock__content .stock__text {
    text-align: center;
  }

  .footer-header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-header li {
    padding: 10px;
  }
  .footer-header li a {
    font-size: 20px;
  }

  .is-header-show {
    z-index: 10;
  }

  .down__link {
    display: none;
  }

  .header-social {
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    bottom: 20%;
    z-index: 5;
  }
  .header-social .socialGroup-link {
    background: #3B181E;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .screen-header .btn__mouse-desktop {
    display: none;
  }

  .header .screen-header .btn__mouse .btn__mouse-mobile {
    display: block;
    bottom: 20px;
    position: absolute;
  }
}
@media (min-width: 541px) and (max-width: 776px) {
  .header .screen-header {
    padding: 0 80px;
  }
  .header .screen-header h1 {
    font-size: 60px;
  }

  .down__link {
    display: none;
  }

  .header-social {
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    bottom: 20%;
    z-index: 5;
  }
  .header-social .socialGroup-link {
    background: #3B181E;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screen-catalog {
    padding: 10px 40px;
  }
  .screen-catalog .bg-caption {
    top: 40px;
    font-size: 80px;
  }
  .screen-catalog .subHeading {
    font-size: 20px;
  }
  .screen-catalog .subHeading .sub-line {
    display: none;
  }
  .screen-catalog .bg-caption {
    display: none;
  }

  .wrap-catalog {
    margin-top: 0;
  }
  .wrap-catalog .wrap-content .slider-item {
    display: none;
    height: 300px;
    width: 48%;
  }
  .wrap-catalog .wrap-content .slider-item:hover .slider__item-btn {
    margin-top: 10px;
  }
  .wrap-catalog .wrap-content .slider-item.is-slider-show {
    display: flex;
  }
  .wrap-catalog .slider-bottom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line {
    display: block;
    transition: 0.3s ease-in-out;
    height: 18px;
    width: 60px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-left: 15px;
    cursor: pointer;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line.is-active-sub-line {
    border-bottom: 2px solid white;
  }

  .screen-stock {
    padding: 40px;
  }
  .screen-stock .wrap-stock {
    flex-direction: column-reverse;
  }
  .screen-stock .wrap-stock .stock__img {
    width: 100%;
  }
  .screen-stock .wrap-stock .stock__content {
    width: 100%;
    align-items: center;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title {
    text-align: center;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title .stock__sub-line {
    left: 50%;
    transform: translateX(-50%);
  }
  .screen-stock .wrap-stock .stock__content .stock__text {
    text-align: center;
  }

  .footer-header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-header li {
    padding: 10px;
  }
  .footer-header li a {
    font-size: 20px;
  }

  .is-header-show ul li a {
    font-size: 30px;
    line-height: 35px;
  }

  /* -- Popup -- */
  .popup {
    width: 90%;
    height: 70%;
  }
  .popup .wrap-popup {
    width: 100%;
    height: 100%;
  }
  .popup__form-title {
    font-size: 30px;
  }
  .popup__form {
    width: 100%;
    margin: 40px;
  }
  .popup__form input {
    font-size: 20px;
    padding: 20px;
  }
  .popup__form input[type=submit] {
    font-size: 16px;
  }
  .popup__img {
    display: none;
  }

  .header .screen-header .btn__mouse-desktop {
    display: none;
  }

  .header .screen-header .btn__mouse .btn__mouse-mobile {
    display: block;
    bottom: 20px;
    position: absolute;
  }
}
@media (max-width: 541px) {
  .header {
    height: 90vh;
  }
  .header .screen-header {
    padding: 0 80px;
  }
  .header .screen-header h1 {
    font-size: 35px;
  }
  .header .screen-header .header-top {
    padding: 20px;
    background: #3B181E;
  }

  .is-header-show ul li {
    margin-top: 60px;
  }
  .is-header-show ul li:hover a {
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    padding: 0;
  }
  .is-header-show ul li a {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    padding: 0;
  }

  .close__btn {
    top: 10px;
    right: 10px;
  }

  .down__link {
    display: none;
  }

  .header-social {
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    bottom: 25%;
    z-index: 5;
  }
  .header-social .socialGroup-link {
    background: #3B181E;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header-social .socialGroup-link svg {
    width: 18px;
    height: 18px;
  }

  .screen-catalog {
    padding: 10px 40px;
  }
  .screen-catalog .bg-caption {
    top: 40px;
    font-size: 80px;
  }
  .screen-catalog .subHeading {
    font-size: 20px;
  }
  .screen-catalog .subHeading .sub-line {
    display: none;
  }
  .screen-catalog .bg-caption {
    display: none;
  }

  .wrap-catalog {
    margin-top: 0;
  }
  .wrap-catalog .wrap-content .slider-item {
    display: none;
    height: 400px;
    width: 100%;
  }
  .wrap-catalog .wrap-content .slider-item:hover .slider__item-btn {
    margin-top: 10px;
  }
  .wrap-catalog .wrap-content .slider-item.is-slider-show {
    display: flex;
  }
  .wrap-catalog .slider-bottom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line {
    display: block;
    transition: 0.3s ease-in-out;
    height: 18px;
    width: 60px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-left: 15px;
    cursor: pointer;
  }
  .wrap-catalog .slider-bottom-pagination .sub-line.is-active-sub-line {
    border-bottom: 2px solid white;
  }

  .screen-stock {
    padding: 40px;
  }
  .screen-stock .wrap-stock {
    flex-direction: column-reverse;
  }
  .screen-stock .wrap-stock .stock__img {
    width: 100%;
  }
  .screen-stock .wrap-stock .stock__content {
    width: 100%;
    align-items: baseline;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title {
    text-align: left;
  }
  .screen-stock .wrap-stock .stock__content .stock__content-title .stock__sub-line {
    left: 30ps;
  }
  .screen-stock .wrap-stock .stock__content .stock__text {
    text-align: left;
  }

  .footer-header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-header li {
    padding: 10px;
  }
  .footer-header li a {
    font-size: 20px;
  }

  /* -- Popup -- */
  .popup {
    width: 90%;
    height: 70%;
  }
  .popup .wrap-popup {
    width: 100%;
    height: 100%;
  }
  .popup__form-title {
    font-size: 25px;
  }
  .popup__form {
    width: 100%;
    margin: 40px;
  }
  .popup__form input {
    font-size: 16px;
    padding: 20px;
  }
  .popup__form input[type=submit] {
    font-size: 16px;
  }
  .popup__img {
    display: none;
  }

  .header .screen-header .btn__mouse-desktop {
    display: none;
  }

  .header .screen-header .btn__mouse .btn__mouse-mobile {
    display: block;
  }
}
/* -- PAGE MEDIA -- */
@media (min-width: 961px) and (max-width: 1141px) {
  .pg__fullImg {
    width: 55%;
  }
  .pg__fullImg::before {
    display: none;
  }
  .pg__content {
    width: 45%;
    padding: 130px 40px;
  }
  .pg__content-text .pg-title {
    font-size: 40px;
  }
  .pg__content-thumb .thumb-wrap {
    height: 80px;
  }
  .pg__content-thumb .thumb {
    width: 360px;
    height: 80px;
  }
  .pg__content-thumb .thumb__item {
    width: 80px;
    height: 80px;
  }
  .pg__content-thumb .thumb__btn {
    padding: 15px;
  }
}
@media (min-width: 776px) and (max-width: 961px) {
  .page__tmp {
    position: relative;
  }
  .page__tmp .screen-header {
    padding: 0;
    height: 80px;
  }
  .page__tmp .screen-header .header-top {
    padding: 20px;
  }

  .page {
    height: auto;
  }

  .pg {
    flex-direction: column;
  }
  .pg__fullImg {
    width: 100%;
    height: 500px;
  }
  .pg__fullImg::before {
    display: none;
  }
  .pg__content {
    width: 100%;
    padding: 0 50px 50px;
    flex-direction: column-reverse;
  }
  .pg__content-text {
    margin-top: 30px;
  }
  .pg__content-text .pg-title {
    font-size: 40px;
  }
  .pg__content-thumb .thumb-wrap {
    height: 145px;
    margin: auto;
    width: fit-content;
  }
  .pg__content-thumb .thumb {
    width: 100%;
    height: 145px;
  }
  .pg__content-thumb .thumb__item {
    width: 145px;
    height: 145px;
  }
  .pg__content-thumb .thumb__btn {
    padding: 15px;
  }
  .pg__content-social {
    display: none;
  }
}
@media (min-width: 541px) and (max-width: 776px) {
  .page__tmp {
    position: relative;
  }
  .page__tmp .screen-header {
    padding: 0;
    height: 80px;
  }
  .page__tmp .screen-header .header-top {
    padding: 20px;
  }

  .page {
    height: auto;
  }

  .pg {
    flex-direction: column;
  }
  .pg__fullImg {
    width: 100%;
    height: 500px;
  }
  .pg__fullImg::before {
    display: none;
  }
  .pg__content {
    width: 100%;
    padding: 0 50px 50px;
    flex-direction: column-reverse;
  }
  .pg__content-text {
    margin-top: 30px;
  }
  .pg__content-text .pg-title {
    font-size: 30px;
  }
  .pg__content-thumb .thumb-wrap {
    height: 100px;
    margin: auto;
    width: fit-content;
  }
  .pg__content-thumb .thumb {
    width: 100%;
    height: 100px;
  }
  .pg__content-thumb .thumb__item {
    width: 100px;
    height: 100px;
  }
  .pg__content-thumb .thumb__btn {
    padding: 15px;
  }
  .pg__content-social {
    display: none;
  }
}
@media (max-width: 541px) {
  .page__tmp {
    position: relative;
    height: auto;
  }
  .page__tmp .screen-header {
    padding: 0;
    height: 80px;
  }
  .page__tmp .screen-header .header-top {
    padding: 20px;
  }

  .page {
    height: auto;
  }

  .pg {
    flex-direction: column;
  }
  .pg__fullImg {
    width: 100%;
    height: 500px;
  }
  .pg__fullImg::before {
    display: none;
  }
  .pg__content {
    width: 100%;
    padding: 0 20px 50px;
    flex-direction: column-reverse;
  }
  .pg__content-text .pg-title {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .pg__content-thumb .thumb-wrap {
    height: 75px;
    margin: auto;
    width: 100%;
  }
  .pg__content-thumb .thumb {
    width: 100%;
    height: 75px;
  }
  .pg__content-thumb .thumb__item {
    width: 75px;
    height: 75px;
  }
  .pg__content-thumb .thumb__btn {
    padding: 15px;
  }
  .pg__content-thumb .thumb__btn-r {
    right: -15px;
  }
  .pg__content-thumb .thumb__btn-l {
    left: -15px;
  }
  .pg__content-social {
    display: none;
  }
}
@media (max-width: 330px) {
  .footer-header li {
    padding: 0 10px;
  }
  .footer-header li a {
    font-size: 0.75rem;
  }

  .bottom-social .socialGroup-link {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=main.css.map*/