$text-white: white;
$text-black: black;

$bg-vinous:#3B181E;

$pd-main-cont: 180px;
$pd-side: 80px;

$pd-20: 20px;
$w-btn-menu: 30px;

$pd-bid: 205px;

$pd-bb: 280px;

$font-family:'Forum', cursive;

$fs-12: 12px;
$fs-14: 14px;
$fs-18px: 18px;
$fs-20:20px;
$fs-24p:24px;

$tr03s:  .3s ease-in-out;

$pd-15px: 15px;
$pd-30px: 30px;
$pd-50px: 50px;
$pd-100px: 100px;

$thumb: 100px;

/* -- Size screens-- */
$sсreen-sm: 540px;
$screen-md: 775px;
$screen-lg: 960px;
$screen-xl: 1140px;
